<div class="footer">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12 text-center">
				<p>&copy; <%= Time.new.year %> LAWRENCE J CYMBURA JR</p>
			</div>
		</div>
	</div>
</div>
