<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">

        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title web-title" id="myModalLabel">Title</h4>
      </div>
      <div class="modal-body text-center web-img">
        <%= link_to(image_tag('', class: 'img-responsive'), '', target: "blank") %>
      </div>
      <div class="modal-footer">
        <p class="text-center"><STRONG>ROLE:</STRONG> <span class="description">Description</span></p>
        <p class="text-center lang"><STRONG>LANG/FRAMWORKS:</STRONG> <span class="second-description">Second_Description</span></p>
        <%= link_to('Visit site', '', target: 'blank', class: 'site-link btn green-bg') %>
         <button type="button" class="btn btn-default mobile-btn pull-right" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="awardModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="awardModalLabel">AWARD</h4>
      </div>
      <div class="modal-body">
        <% if !@award.nil? %>
          <%= image_tag(@award.document, class: 'img-responsive') %>
        <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default mobile-btn pull-right" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>