<nav class="navbar navbar-inverse navbar-fixed-top">
	<div class="container-fluid">
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <% if logged_in? && @active_nav == false  || !logged_in? && @active_nav == false %>
	      	<a class="navbar-brand" href="/"><%= image_tag('ljc_logo.png', class: "ljc-logo") %></a>
	      <% else%>
	      	<a class="navbar-brand" data-link="#home" href><%= image_tag('ljc_logo.png', class: "ljc-logo") %></a>
	      <% end %>
	    </div>

	    <div class="collapse navbar-collapse" id="navbar-collapse">
	      <ul class="nav navbar-nav navbar-right">
	        <% if logged_in? %>
	        	<li><a href="/abouts">ABOUT</a></li>
		        <li><a href="/projects">PROJECTS</a></li>
					  <li><%= link_to "LOG OUT", logout_path, method: :delete %></li>
					<% end %>
					<% if @active_nav == true && !logged_in? %>
					  <li><a data-link="#about" href>ABOUT</a></li>
		        <li><a data-link="#project" href>PROJECTS</a></li>
		        <li><a data-link="#contact" href>CONTACT</a></li>
					<% end %>
	      </ul>
	    </div>
	</div>
</nav>