<div class="container back-end">
  <div class="row">
    <div class="col-md-12">
      <%= link_to 'Add New +', new_project_path %>
      <h2>Projects</h2>
      <% if flash[:notice] %>
        <p class="flash"><%= flash[:notice] %></p>
      <% end %>
      <% @project.each do |p| %>
        <%= link_to(image_tag(p.image.url(:large, timestamp:false)), edit_project_path(p.id)) %>
      <% end %>
    </div>
  </div>
</div>