<div class="container error-container">
  <div class="row">
    <div class="col-md-12 text-center">
      <h1>404</h1>
      <p>Sorry page not found :(</p>
      <a class="home nav-links" href> HOME</a>
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){
    $.backstretch("site_background.jpg");
    $('body').css('background', '#000');
  });
</script>