<div class="container error-container">
  <div class="row">
    <div class="col-md-12 text-center home-content">
      <h1>404</h1>
      <p>Sorry page not found :(</p>
      <a class="home nav-links" href> HOME</a>
    </div>
  </div>
</div>

<script>
  $(window).resize(function(){
    var wWidth = $(this).width();;

    if (wWidth < 500){
      $('body').css('background', '#000');
    }else {
      $('body').css('background', 'none');
    }
  });

  $(document).read(function(){
    $.backstretch("site_background.jpg");
    $(window).trigger('resize');
  });
</script>