<div class="container error-container">
  <div class="row">
    <div class="col-md-12 text-center home-content">
      <h1>500</h1>
      <p>Internal server error :(</p>
    </div>
  </div>
</div>

<script>
   $(document).ready(function(){
    $.backstretch("site_background.jpg");
  });
</script>