<div class="container error-container">
  <div class="row">
    <div class="col-md-12 text-center home-content">
      <h1>500</h1>
      <p>Internal server error :(</p>
    </div>
  </div>
</div>

<script>
  $(window).resize(function(){
    var wWidth = $(this).width();;

    if (wWidth < 500){
        setTimeout(function() {
          $('body').css('background', '#000');
        }, 500);
    }else {
        $('body').css('background', 'none');
    }
  });

  $(window).load(function(){
    $.backstretch("site_background.jpg");
    $(window).trigger('resize');
  });
</script>