<div class="container error-container">
  <div class="row">
    <div class="col-md-12 text-center home-content">
      <h1>422</h1>
      <p>Unprocessable :(</p>
      <a class="home nav-links" href> HOME</a>
    </div>
  </div>
</div>

<script>
   $(document).ready(function(){
    $.backstretch("https://s3.amazonaws.com/ljcsite/site_background.jpg");
    $('.navbar-toggle').css('display', 'none');
  });
</script>