<div class="container back-end">
  <div class="row">
    <div class="col-md-12">
      <p><%= link_to 'Add New +', new_about_path %></p>
      <h2>About</h2>
      <% if flash[:notice] %>
        <p><%= flash[:notice] %></p>
      <% end %>
      <% @about.each do |a| %>
        <p><%= link_to(a.title, edit_about_path(a.id))%></p>
      <% end %>
    </div>
  </div>
</div>



