<div class="container back-end">
  <div class="row">
    <div class="col-md-12">
      <h2><%= @about.title %></h2>
      <p><%= @about.description %></p>
      <p><%= @about.second_description %></p>
    </div>
  </div>
</div>