<h1>About#show</h1>
<p>Find me in app/views/abouts/show.html.erb</p>

<%= link_to 'About', abouts_path %>
<h3><%= @about.title %></h3>
<p><%= @about.description %></p>
<p><%= @about.second_description %></p>