@import "compass/css3";
@import "bootstrap-sprockets";
@import "bootstrap";

body {
	/*background: image-url("site_background.jpg") no-repeat center fixed;
	@include background-size(cover);*/
}

.scroll-top {
	display: none;
	cursor: pointer;
	position: fixed;
	z-index: 1;
	bottom: 5px;
	right: 	5px;
	background: rgba(0, 0, 0, 0.8)	;
	padding: 5px 10px 5px 10px;
	border-radius: 5px;
	p {
		margin-bottom: 0;
		color: white;
	}
}