@import url(http://fonts.googleapis.com/css?family=Oswald:400,700|Roboto);

h1, h2, h3, h4, h5, h6 {
	font-family: 'Oswald', sans-serif;
	font-weight: 700;
}

P, ul, li, a {
	font-family: 'Roboto', sans-serif;
}