@import "compass/css3";
@import "compass/css3/user-interface";

.home-section {
	width: 100%;
	padding: 200px 0 0px 0;
	@media screen and(max-width: 350px) {
		padding-top: 150px;
	}
	h1 {
		margin-top: 0;
		margin-bottom: 5px;
		font-size: 100px;
		@media screen and(max-width: 500px) {
			font-size: 58px;
		}
	}
	h2 {
		margin-top: 0;
		font-family: 'Roboto', sans-serif;
		@media screen and(max-width: 500px) {
			font-size: 16px;
		}
	}
	.scoll-down {
	  position: fixed;
	  bottom: 0;
	  left: 50%;
	  margin-left: -20px;
	  height: 40px;
	  width: 40px;
	  background: image-url("down_arrow.png") no-repeat center;
	  -webkit-animation:bounce 1s infinite;
	  animation:bounce 1s infinite;
	}

	@-webkit-keyframes bounce {
	  0%       { bottom: 5px; }
	  25%, 75% { bottom: 10px; }
	  50%      { bottom: 15px; }
	  100%     { bottom: 0;}
	}

	@keyframes bounce {
	  0%       { bottom: 5px; }
	  25%, 75% { bottom: 10px; }
	  50%      { bottom: 15px; }
	  100%     { bottom: 0;}
	}
}

.about-section {
	width: 100%;
	padding: 20px 0 50px 0;
	@media screen and(max-width: 768px) {
		padding-top: 10px;
		padding-bottom: 40px;
	}
	background: rgba(255, 255, 255, 0.5);
	h2 {
		font-size: 42px;
	}
	p {
		font-size: 18px;
	}
	.skills {
		padding-top: 55px;
		@media screen and(max-width: 991px) {
			padding-top: 10px;
		}
		.btn {
			margin-top: 10px;
		}
	}
}

.project-section {
	width: 100%;
	padding: 20px 0 50px 0;
	@media screen and(max-width: 768px) {
		padding-top: 10px;
		padding-bottom: 30px;
	}
	@media screen and(max-width: 475px) {
		text-align: center;
	}
	h2 {
		font-size: 42px;
		margin-bottom: 25px;
	}
	p {
		font-size: 18px;
	}
	.project-thumbs {
		float: left;
		margin-right: 20px;
		margin-bottom: 20px;
		@media screen and(max-width: 475px) {
			float: none;
			margin-right: 0;
		}
	}
}

.contact-section {
	width: 100%;
	background: rgba(0, 0, 0, 0.8);
	padding: 20px 0 80px 0;
	@media screen and(max-width: 768px) {
		padding-top: 10px;
		padding-bottom: 50px;
	}
	h2 {
		font-size: 42px;
		color: white;
		margin-bottom: 25px;
	}
	p {
		font-size: 14px;
		color: white;
	}
	.info {
		margin-top: 88px;
		@media screen and(max-width: 768px) {
			margin-top: 30px;
		}
	}
	.linkedin {
		width: 25px;
		height: 25px;
	}
	textarea {
		 resize: none;
	}
	.nickname {
		display: none;
	}
	.labels {
		color: #fff;
		display: none;
	}
}

.award {
		color: #000;
		&:hover {
			color: #000;
		}
		&:visited {
			color: #000;
		}
}

#awardModal {
	.modal-header {
		padding-bottom: 0;
	}
	.modal-body{
		padding-top: 0;
		img {
			margin: 0 auto;
		}
	}
}

#myModal {
	img {
		margin: 0 auto;
	}
}

.modal-header {
	border-bottom: 0;
}

#myModal2 {
	h1 {
		margin-bottom: 10px;
	}
}

.modal-footer {
	border-top: 0;
	p {
		margin: 0 auto;
		max-width: 500px;
	}
	.lang {
		margin-top: 10px;
		margin-bottom: 10px;
	}

}


.site-link {
	margin-top:10px;
	@media screen and(max-width: 475px) {
		float: left;
	}
}

.mobile-btn {
	display: none;
	@media screen and(max-width: 475px) {
		margin-top: 10px;
		display: block;
	}
}

.error {
	border: 1px solid red;
	@include input-placeholder {
		color: red;
	}
}

.green {
		color: #acd255;
		&:hover {
			color: #acd255;
		}
		&:visited {
			color: #acd255;
		}
	}

.green-bg {
	color: #000;
	background: #acd255;
}

.lg-img {
	display: none;
}
