.navbar-inverse .navbar-nav > li > a, a:focus {
  outline: none !important;
  color: #fff;
  &.active {
    outline: none !important;
    color: #acd255 !important;
  }
}

.navbar-brand {
	padding: 8px 15px 10px 15px;
}

.ljc-logo {
	height: 35px;
}

.active-nav {
  color: #acd255 !important;
  @media screen and(max-width: 500px) {
    color: #fff !important;
  }
}
